*/Objects/*

# Built files
arm/
arm-p/
translations/*.qm

# IDE settings
.settings/


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*_g

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Gedit files
*~

# QNIX stuff
*/.metadata/*

# Microvision stuff
*/Listings/*
*/Objects/*
*/RTE/*
